/* style.css 

  1.타이포그라피
    웹폰트: Open-Sans(영), 나눔고딕(한)
    메뉴, 푸터 정보: 15px 
    타이틀(h1 표제) - 36 ~ 38px
    섹션제목 32px
    본문 16px
  2.컬러: 메인컬러(포인트컬러)
    제목컬러: #222
    본문컬러: #666
*/
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }
  h1, h2, h3, h4{
    color: #222;
  }
  p, a{
    color: #666;
  }
  p {
    line-height: 2em;
  }
  html, body{ height: 100%;}
  body{
    font-family: 'Open Sans', 'Nanum Gothic', sans-serif; 
  }
  a{ text-decoration: none;}
  ul{ list-style-type: none;}
  .container{
    position: relative;
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
  }
  section {
    overflow: hidden;
  }
  #main-header{
    /* position: relative; */
    width: 100%;
    height: 100%;
    background: #ccc;
    background-image: url("../images/banner2.jpg");
    background-size: cover;
    background-position: center center;
  }
  #main-header .container{
    /* height: 80px;
    background: #ccc; */
    height: 100%;
  }
  header h1{
    position: absolute;
    font-size: 1.8em;
    color: #fff;
    left: 0px; top: 20px;
  }
  header h1 a {
      color: #fff;
  }
  header #main-menu{
    position: absolute;
    right: 0; top: 30px;
    text-transform: uppercase;
  }
  #main-header .inner{
    background: rgba(0,0,0,0.3);
    height: 80px;
  }
  header #main-menu ul li{
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
  }
  header #main-menu ul li a{
    font-size: 15px;
    color: #fff;
  }
  header #main-menu ul li a:hover{
    opacity: 0.7;
  }
  #main-header .main-title{
    position: absolute;
    /* border: 1px solid red; */
    /* 텍스트 중앙 배치 */
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 500%;
  }
  #main-header .main-title h2{
    color: #fff;
    font-size: 56px;
    text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.3);
  }
  #main-header .main-title p{
    color: #fff;
    font-size: 28px;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
  }
  
  /* section - GENTLE MONSTER (브랜드 소개)   */
  section h2 {
      font-size: 32px;
      margin-bottom: 1em;
  }
  #brand {
      margin-top: 100px;
  }
  #brand .container {
      text-align: center;
      padding-left: 15%;
      padding-right: 15%;
  }

  /* product */
  #product {
    margin-top: 100px;
  }
  #product h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  #product .container {
    text-align: center;
  }
  #product .container ul.products li {
    width: 32.33%;
    float: left;
    margin-right: 1.5%;
  }
  #product .container ul.products li:last-child {
    margin-right: 0;
  }
  #product .container ul.products li img {
    transform: scale(0.95);
    transition: 0.4s;
    margin-bottom: 20px;
  }
  #product .container ul.products li:hover img{
    transform: scale(1);
  }

  /* news */
  #news {
    margin-top: 100px;
  }
  #news .container {
    text-align: center;
  }
  #news .container ul.news-list li {
    border: 1px solid #ccc;
    float: left;
    width: 49.25%;
    height: 360px;
    margin-right: 1.5%;
  }
  #news .container ul.news-list li:last-child {
    margin-right: 0;
    background-image: url('http://placeimg.com/640/400/any0/grayscale');
    background-size: cover;
    background-position: center center;  
  }
  #news .container ul.news-list li h4 {
    font-size: 28px;
    line-height: 360px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
  }
  #news .container ul.news-list li:first-child {
    background-image: url('http://placeimg.com/640/400/any/grayscale');
    background-color: #666; 
  }

  /* shop */
  #shop {
    margin-top: 100px;
    height: 500px;
    background: #ccc;
    background-image: url('../images/shop.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
  }
  #shop .box {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 500px;
  }
  #shop .container {
    text-align: center;
    margin-top: 10px;
  }
  #shop h2 {
    height: 0;
    overflow: hidden;
  }
  .btn-normal {
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 1);
    font-size: 2em;
    padding: 16px 48px;
    color: #fff;
    border-radius: 10px;
    transition: 0.2s;
  }
  .btn-normal:hover {
    background:rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
  }
  #shop .container .btn-normal {
    margin-top: 170px;
  }

  /* sns */
  #sns {
    margin-top: 100px;
    text-align: center;
  }
  #sns ul li {
    width: 20%;
    float: left;
  }
  #sns ul li img {
    width: 100%;
  }

  /* footer */
  #main-footer{
    margin-top: 100px;
    text-align: center;
    padding: 50px 0;
    background: #efefef;
  }
  #main-footer .footer-logo {
    font-size: 0.6em;
    margin-bottom: 10px;
  }
  #main-footer .footer-text {
    font-size: 15px;
  }
